<p id="notice"><%= notice %></p>

<p>
  <strong>Monto:</strong>
  <%= @pago.monto %>
</p>

<p>
  <strong>Numero vistas:</strong>
  <%= @pago.numero_vistas %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @pago.empresa %>
</p>

<%= link_to 'Edit', edit_pago_path(@pago) %> |
<%= link_to 'Back', pagos_path %>
